force-app/main/default/flows/Find_the_Case_by_Case_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Case_is_Found_or_not</name>
        <label>Check if Case is Found or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Case_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case is not Found</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GR01_Get_Case_Records.CaseNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Find the Case by Case Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find the Case by Case Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GR01_Get_Case_Records</name>
        <label>GR01: Get Case Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_is_Found_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Not_Found</name>
        <label>Case Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Input_Case_Number_for_Finding</targetReference>
        </connector>
        <fields>
            <name>caseNotFound</name>
            <fieldText>&lt;p&gt;Case is Not Found on provide case Number : &lt;strong&gt;{!Case_Number}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Find another case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Input_Case_Number_for_Finding</targetReference>
        </connector>
        <fields>
            <name>Case_Number_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GR01_Get_Case_Records.CaseNumber</elementReference>
            </defaultValue>
            <fieldText>Case Number ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!GR01_Get_Case_Records.Contact.FirstName}  {!GR01_Get_Case_Records.Contact.LastName} </stringValue>
            </defaultValue>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GR01_Get_Case_Records.Subject</elementReference>
            </defaultValue>
            <fieldText>subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GR01_Get_Case_Records.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GR01_Get_Case_Records.Priority</elementReference>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Created_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GR01_Get_Case_Records.CreatedDate</elementReference>
            </defaultValue>
            <fieldText>Created Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!GR01_Get_Case_Records.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Find Another Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Input_Case_Number_for_Finding</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 12, 12);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Case_Number_for_Finding</name>
        <label>Input Case Number for Finding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GR01_Get_Case_Records</targetReference>
        </connector>
        <fields>
            <name>Case_Number</name>
            <dataType>String</dataType>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Find Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Case_Number_for_Finding</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
